
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}




header {
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(12px);
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  position: relative;
}

.nav-links a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #00d4ff;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #00d4ff);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {background-position: 0%;}
  50% {background-position: 100%;}
  100% {background-position: 0%;}
}

.hero h2 {
  font-size: 3rem;
}

.hero p {
  margin: 1rem 0;
}


.btn {
  padding: 12px 25px;
  border-radius: 25px;
  background: #00d4ff;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
  background: white;
}

.btn.big {
  font-size: 1.2rem;
}


.features {
  display: flex;
  justify-content: space-around;
  padding: 4rem 2rem;
  background: #111;
}

.card {
  width: 30%;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  color: white;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-15px) scale(1.03);
}

.cta {
  text-align: center;
  padding: 4rem;
  background: #00d4ff;
  color: black;
}


footer {
  text-align: center;
  padding: 1.5rem;
  background: black;
  color: white;
}


.fade-in {
  opacity: 0;
  animation: fade 1s forwards;
}

.delay { animation-delay: 0.5s; }
.delay2 { animation-delay: 1s; }

@keyframes fade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.reveal {
  opacity: 0;
  transform: translateY(50px);
  animation: revealAnim 1s forwards;
}

@keyframes revealAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 20px;
  }

  .nav-links {
    display: none;
  }

  .hero h2 {
    font-size: 2rem;
  }
}